:root {
    --size-base: 0.8rem;
    --size-xs: calc(var(--size-base) / 4);
    --size-s: calc(var(--size-base) / 2);
    --size-m: var(--size-base);
    --size-l: calc(var(--size-base) * 2);
    --size-xl: calc(var(--size-base) * 4);
    --size-xxl: calc(var(--size-base) * 8);

    --color-primary-dark: rgb(25, 97, 125);;
    --color-primary-darker: rgb(17, 64, 83);

    --color-primary-light: rgb(210, 242, 255);
    --color-primary-lighter: rgb(226, 245, 252);

    --color-secondary-dark: rgb(118, 118, 97);
    --color-secondary-darker: rgb(93, 93, 75);

    --color-secondary-light: rgb(241, 241, 226);
    --color-secondary-lighter: rgb(246, 246, 239);

    --color-makeitpop-dark: rgb(226, 0, 162);
    --color-makeitpop-darker: rgb(173, 0, 124);

    --color-makeitpop-light: rgb(255, 220, 245);
    --color-makeitpop-lighter: rgb(255, 242, 251);
}

*,
::before,
::after {
    box-sizing: border-box;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.main-content {
    margin-top: var(--size-xxl);
}

aside {
    margin-top: var(--size-xxl);
    position: sticky;
    top: 0;
}

label::after {
    content: ":";
}

label,
input,
button {
    border-radius: 4px;
    display: block;
    line-height: 1.4;
    margin-top: var(--size-s);
    width: 100%;
}

label {
    font-weight: 700;
}

button {
    background-color:var(--color-secondary-dark);
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    margin-top: var(--size-l);
    padding: var(--size-s) var(--size-l);
}

button:hover {
    background-color:var(--color-secondary-darker);
}

.page-header {
    background-color:var(--color-primary-dark);
    color: #fff;
}

.page-footer {
    background-color:var(--color-primary-dark);
    color: #fff;
    margin-top: var(--size-xxl);
}

.copyright {
    padding: var(--size-s);
}

.main-nav__items {
    display: flex;
    list-style: none;;
    padding-left: 0;
}

.main-nav__link {
    color:var(--color-primary-lighter);
    display: inline-block;
    padding: var(--size-s) var(--size-l);
    text-decoration: none;
}

.main-nav__link:hover {
    background-color: var(--color-primary-darker);
    text-decoration: none;
}

.squisher {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.cols {
    align-items: start;
    column-gap: var(--size-xl);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: var(--size-l);
    padding-right: var(--size-l);
}

.box {
    background-color: var(--color-primary-dark);
    border-radius: 4px;
    color: #fff;
    margin-top: var(--size-l);
    padding: var(--size-l);
}

.box--special {
    background-color:var(--color-secondary-lighter);
    color: initial;
}

.cta {
    background-color:var(--color-primary-light);
    color: var(--color-primary-darker);
    border-radius: 4px;
    display: block;
    padding: var(--size-s) var(--size-l);
    text-align: center;
    text-decoration: none;
}

.cta:hover {
    background-color:var(--color-primary-lighter);
}

.cta--banner {
    background-color:var(--color-primary-dark);
    color: var(--color-primary-lighter);
    display: inline-block;
}

.cta--banner:hover {
    background-color:var(--color-primary-darker);
}

.banner {
    background-color:var(--color-primary-lighter);
    color:var(--color-primary-darker);
    padding: var(--size-xl);
}

/* Non-modal dialog */
.nmd {
    background-color:var(--color-makeitpop-lighter);
    border: 2px solid var(--color-makeitpop-dark);
    border-radius: 4px;
    bottom: var(--size-l);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    max-width: 25vw;
    padding: var(--size-l);
    position: fixed;
    right: var(--size-l);
}

.nmd__cta {
    background-color:var(--color-makeitpop-dark);
    color: var(--color-makeitpop-lighter);
    border-radius: 4px;
    display: block;
    padding: var(--size-s) var(--size-l);
    text-align: center;
    text-decoration: none;
}

.nmd__cta:hover {
    background-color:var(--color-makeitpop-darker);
}